/.#recentf
/.emacs.desktop
/.emacs.desktop.lock
*~
/ac-comphist.dat
/elpa/*
/eshell/history
/ido.last
/network-security.data
/projectile-bookmarks.eld
/recentf
/tramp
/transient/
/site-lisp/go-autocomplete.elc
/magithub/
/serenade-mode/
